
 

@import "tailwindcss";
 




@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("/src/assets/fonts/static/PlusJakartaSans-ExtraLight.ttf");
  font-weight: 100;
}




.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#1e1e1f, #17171a) padding-box, linear-gradient(
        var(--angle),
        #CD7272,
        #E4E4E4
      ) border-box;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
